<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Your activities</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-spinner class="initial-spinner" *ngIf="isFetching"></ion-spinner>
    <activity-card *ngFor="let item of items; let i = index"
                   [activity]="item"
                   [renderMap]="i < 3"
    ></activity-card>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
