page-home {
    $floating-elements-box-shadow: 0 3px 3px rgba(0, 0, 0, .15);
    $transition: .2s ease-out;
    .content-overlay {
        position: fixed;
        padding: $content-padding;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 1000;
        transform: translate3d(0, -56px, 0);
        transition: $transition;
        transition-property: transform;
        pointer-events: none;
    }
    .waypoint-log {
        background: #fff;
        box-shadow: $floating-elements-box-shadow;
        margin-bottom: $content-padding;
        transform: translate3d(-95%, 0, 0);
        transition: .1s ease-out transform;
        max-height: 90px;
        overflow: auto;
        &--visible {
            transform: translate3d(0, 0, 0);
        }
        .entry {
            padding: 5px;
            font-size: 10px;
            display: flex;
            &__index {
                font-weight: 600;
                flex: 0 30px;
                padding-right: 10px;
                text-align: right;
            }
            &__data {
                flex: 1;
            }
        }
    }
    #start-tracking {
        margin: 0;
        text-transform: uppercase;
        font-weight: 500;
        box-shadow: $floating-elements-box-shadow;
        position: absolute;
        width: calc(100% - (#{$content-padding} * 2));
        bottom: $content-padding;
        z-index: 1050;
        transition: $transition;
        transform: translate3d($content-padding, 0, 0);
        transition-property: transform, border-radius, width, height;
        will-change: height, width, transform, border-radius;
    }
    .activity-display {
        background: #fff;
        box-shadow: $floating-elements-box-shadow;
        margin-bottom: $content-padding;
        display: flex;
        flex-direction: column;
        opacity: 0;
        transition: $transition;
        transition-property: opacity, transform;
        transform: scale(.9);
        .row {
            display: flex;
            border-bottom: 1px solid #eee;
        }
        .box {
            flex: 1;
            text-align: center;
            padding: 1.25em .5em;
            &:first-child {
                border-right: 1px solid #eee;
            }
        }
        .label {
            color: color($colors, grey);
            margin-bottom: .75em;
        }
        .value {
            font-size: 1.8em;
            font-weight: 600;
        }
    }
    .infopanel {
        display: flex;
        color: color($colors, grey);
        background: $background-color;
        margin-bottom: $content-padding;
        box-shadow: $floating-elements-box-shadow;
        padding: 6px 12px;
        border-radius: 16px;
        font-size: 12px;
        opacity: 1;
        transition: $transition;
        transition-property: opacity, transform;
        transform: scale(1);
        & > div {
            flex: auto;
            align-items: center;
        }
    }
    .is-tracking {
        .content-overlay {
            transform: translate3d(0, 60px, 0);
        }
        #start-tracking {
            transform: translate3d(calc(50vw - 50%), -56px, 0);
            border-radius: 50%;
            width: 80px;
            height: 80px;
            img {
                display: block;
                margin-top: 1px;
            }
        }
        .activity-display {
            opacity: 1;
            transform: scale(1);
        }
        .infopanel {
            opacity: 0;
            transform: scale(.9);
        }
    }
    .signal, .position {
        display: flex;
        white-space: nowrap;
        &__icon {
            flex: 0 25px;
            img {
                display: block;
            }
        }
    }
    .position {
        margin-left: 15px;
        span + span {
            margin-left: 10px;
        }
    }
    #map {
        position: fixed;
        left: 0;
        width: 100%;
        height: 100%;
        background: #ccc;
        z-index: 0;
    }
}
