<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Start your activity</ion-title>
    </ion-navbar>
</ion-header>

<ion-content [class.is-tracking]="isTracking">
    <div #map id="map"></div>

    <div class="waypoint-log"
         [class.waypoint-log--visible]="showWaypointLog"
         (click)="showWaypointLog = !showWaypointLog">
        <div class="entry" *ngFor="let waypoint of waypoints.slice(-3); let i = index">
            <div class="entry__index">
                {{ i + waypoints.length - 3 }}
            </div>
            <div class="entry__data">
                D {{ locationTracker.distance }} /
                N {{ waypoint.latitude }} /
                E {{ waypoint.longitude }} /
                Acc {{ waypoint.accuracy }} /
                Speed {{ waypoint.speed }} /
                Alt {{ waypoint.altitude }} /
                TS {{ getTime(waypoint.timestamp) }}
            </div>
        </div>
    </div>

    <div class="content-overlay">
        <div class="activity-display">
            <div class="row">
                <div class="box">
                    <div class="label">Time</div>
                    <div class="value">00:00</div>
                </div>
                <div class="box">
                    <div class="label">Distance</div>
                    <div class="value">{{ locationTracker.distanceInKm }}</div>
                </div>
            </div>
            <div class="row">
                <div class="box">
                    <div class="label">Current pace</div>
                    <div class="value">00:00</div>
                </div>
                <div class="box">
                    <div class="label">Avg. pace</div>
                    <div class="value">00:00</div>
                </div>
            </div>
        </div>

        <div class="infopanel">
            <div class="signal">
                <div class="signal__icon">
                    <img *ngIf="locationTracker.hasSignal"
                         src="assets/images/icon-signal-good.png"
                         srcset="assets/images/icon-signal-good.png 1x, assets/images/icon-signal-good@2x.png 2x"
                         alt=""/>
                    <img *ngIf="!locationTracker.hasSignal"
                         src="assets/images/icon-signal-lost.png"
                         srcset="assets/images/icon-signal-lost.png 1x, assets/images/icon-signal-lost@2x.png 2x"
                         alt=""/>
                </div>
                <div class="signal__label">
                    {{ locationTracker.hasSignal ? 'Good signal' : 'No signal' }}
                </div>
            </div>
            <div class="position">
                <div class="position__icon">
                    <img src="assets/images/icon-compass.png"
                         srcset="assets/images/icon-compass.png 1x, assets/images/icon-compass@2x.png 2x"
                         alt=""/>
                </div>
                <div class="position__label">
                    <span>N {{ locationTracker.lat }}</span>
                    <span>E {{ locationTracker.lng }}</span>
                </div>
            </div>
        </div>
    </div>

    <!--[disabled]="!locationTracker.hasSignal"-->
    <button ion-button [color]="isTracking ? 'danger' : 'secondary'"
            tappable large block id="start-tracking"
            (click)="toggleTracking()">
        <span class="is-tracking" *ngIf="isTracking">
            <img src="assets/images/icon-pause.png"
                 srcset="assets/images/icon-pause.png 1x, assets/images/icon-pause@2x.png 2x"
                 alt=""/>
        </span>
        <span class="start-tracking" *ngIf="!isTracking">Start tracking</span>
    </button>
</ion-content>
